

.dashboardCont{
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
    width:80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.filterCont{
    margin-left: 5%;

}

.projectList{
  
}